@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  background: #333;
}

.background {
  background: #34a6fb;
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava {
  background: #ff6464;
}

.wall {
  background: white;
}

.actor {
  position: absolute;
}

.coin {
  background: #f1e559;
}

.player {
  background: #404040;
}

.lost .player {
  background: #a04040;
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.hp {
  padding-left: 10px;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
}
.hp__img {
  width: 30px;
}
.hp__text {
  padding-left: 10px;
}

.hidden {
  display: none !important;
}

.restart {
  position: relative;
  display: flex;
  justify-content: center;
  top: 50%;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.restart__btn {
  margin-left: 30px;
  order: 2;
  cursor: pointer;
  background-color: rebeccapurple;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all ease 0s;
}
.restart__btn:hover {
  transform: scale(0.9, 0.9);
}
.restart__txt {
  order: 1;
  background-color: rebeccapurple;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all ease 0s;
}
.restart__txt:hover {
  transform: scale(0.9, 0.9);
}